

#Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
body{
    background: #FFFFFF;
    margin: auto;
    width: 1200px;
    padding: 2em 2em 0em 2em;
}
header{
	background: orange;
}
nav{
	background: orange;
}
#sectionHaarlem{
	background: green;
}
#sectionDenhout{
	background: blue;
}
#sectionSport{
	background: pink;
}
#sectionMudo{
	background: purple;
}
#sectionContact{
	background: red;
}
footer{
	background: yellow;
}
